body {
	background-image: url(http://images5.alphacoders.com/294/294379.jpg);
	background-size: 85% auto;
}

h1 {
	font-family: Aldrich;
	font-size: 85px;
	position: fixed;
	top: 10px;
	right: 0px;
	left: 435px;
}

li {
	font-family: Aldrich;
	font-size: 12px;
	position: fixed; 
	display: inline;
}

div {
	font-family: Aldrich;
	font-size: 15px;
	position: fixed;
}

li.one {
	top: 10px;
	right: 0px;
	left: 280px;
}

li.two {
	top: 10px;
	right: 0px;
	left: 595px;
}

li.three {
	top: 10px;
	right: 0px;
	left: 950px;
}

h2.about {
	position: fixed;
	top: 200px;
	right: 0px;
	left: 535px;
}

div.website {
	position: fixed;
	top: 270px;
	right: 0px;
	left: 190px;
}

h2.special {
	position: fixed;
	top: 370px;
	right: 0px;
	left: 545px;
}

div.thanks {
	position:fixed;
	top: 440px;
	right: 0px;
	left: 50px;
}

a {
	text-decoration: none;
}
